.wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: auto;
    padding: 2fr 0;

    h2 {
        font-size: 1.25rem;
        margin: 1.5rem 0;
    }

    .cardGrid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
    }
}